@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Righteous&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-size: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(71,99,237,1) 0%, rgba(121,88,242,1) 100%);
}
.box-area{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0.4s;
}
.box-area:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.cabecalho-logo{
  height: 30px;
  background-color: white;
  border-radius: 10px 15px 20px;
  cursor: pointer;
}

.cabecalho-menu{
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item{
  font-family: 'Sarala', sans-serif;
  color: #fff2e7;
  font-weight: 700;
  font-size: 1.0rem;
}

.conteudo{
  margin-bottom: 48px;
  border-top: 0.4px solid #fff2e7;
}

.conteudo-principal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo{
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo{
  font-family: 'Sarala', sans-serif;
  color: #ecd6c4;
  font-weight: 400;
  font-size: 24px;
}

.conteudo-principal-escrito-botao{
  background-color: #FFFFFF;
  width: 180px;
  height: 60px;
  border: none;
  border-radius: 30px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #36393F;
  cursor: pointer;
  transition: 0.5s;
}
.conteudo-principal-escrito-botao:hover{
  color: #AE84F2;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}
.conteudo-principal-escrito-botao:nth-child(1)
{
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}


.principal-imagem{
  width: 40%;
  animation: fluctuation 3s
  ease-in-out infinite;
}
@keyframes fluctuation {
  0%, 100%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-25px);
  }
}

.conteudo-secundario{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo{
  border-top: 0.4px solid #fff2e7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #fff2e7;
  margin-bottom: 15px;
}

.conteudo-secundario-paragrafo{
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ecd6c4;
}

.rodape{
  padding: 32px;
  border-top: 0.4px solid #fff2e7;
}

.rodape-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: #ecd6c4;
}